<%- include('_header'); -%>

<h1>Welcome to my first Node.js app</h1>
<ul>
  <li>Group name: "RED"</li>
  <li>Group's participapant's name: Rajeev</li>
  <li>Group's participapant's name: Emilia</li>

  <li>Group's participapant's name: Diana</li>
  <li>Group's participapant's name: Diana</li>
  <li>Group's participapant's name: rajeev</li>
  <li>Here is my text from Rajeev</li>
</ul>

<%- include ('_footer'); -%>
